<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h2><%= current_user.name %> profile.</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: false %>
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :current_password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>


        <%= f.button :submit, "Update", class: "btn-secondaryy" %>

    <% end %>
  <div class="d-flex justify-content-between ">
    <p><%= link_to "Back", :back, class: "btn-tertiaryy" %></p>

    <p><%= link_to "Cancel my account", registration_path(resource_name), class: "btn-primaryy", data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>
