<div class="container">
  <div class="p-2 my-4 bg-light rounded shadow-sm">
    <div class="d-flex">
      <div class="bulma">
        <div class="text-center">
          <img class="avatar-is-rounded" src="https://media.wired.com/photos/5b71cb6251297c21002b4554/master/pass/ElonMusk-974773054.jpg">
          <h3 class="section-title"><%= current_user.name %></h3>
        </div>
      </div>
      <div class="section-call-for-actions m-auto">
        <div class="text-center px-3">
          <div class="btn-group">
            <%= link_to "EDIT ACCOUNT", edit_user_registration_path(current_user), class: "btn-secondaryy" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="p-2 my-4 bg-light rounded shadow-sm">
    <h3>SALES</h3>
    <div class="row px-3">
      <div class="col-md-6 col-lg-3 w-100 p-2">
        <p><%= link_to "Announce a New Sale", new_product_path, class: "btn btn-secondaryy"%></p>
      </div>
      <div class="col-md-6 col-lg-3 w-100 p-2">
        <p><%= link_to "Announce a New Rent", new_product_path(rent: true), class: "btn btn-secondaryy"%></p>
      </div>
      <div class="col-md-6 col-lg-3 w-100 p-2">
        <% if current_user.products.count > 0 %>
          <p><%= link_to "List all your products", user_products_path, class: "btn btn-secondaryy"%></p>
        <% else %>
          <p><%= link_to "List all your products", user_products_path, class: "btn btn-secondaryy disabled"%></p>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-3 w-100 p-2">
        <% if current_user.products.map { |product| product.orders }.flatten.size > 0 %>
          <p><%= link_to "List all sold products", user_sales_path, class: "btn btn-secondaryy"%></p>
        <% else %>
          <p><%= link_to "List all sold products", user_sales_path, class: "btn btn-secondaryy disabled"%></p>
        <% end %>
      </div>

    </div>
  </div>

  <div class="p-2 my-4 bg-light rounded shadow-sm">
    <h3>ORDERS</h3>
    <% if @user.orders.size > 0 %>
      <table class="table">
        <tr>
          <th>Order</th>
          <th>Type</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>

        <% @user.orders.each do |order| %>
          <tr>
            <td><%= link_to order.product.name, product_path(order.product), class: "btn btn-secondaryy" %></td>
            <td><%= order.rent? ? "Rent" : "Sale" %></td>

            <td><%= number_to_currency((order.price/100.0).round(2)) %></td>
            <td>
              <%= link_to  order_path(order), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>


      </table>
    <% else %>
      <div class="text-center">
        <h5>You have no orders yet.</h5>
        <p><%= link_to "See the products", products_path %></p>
      </div>

    <% end %>
  </div>
</div>
</div>

