<div class="container">

  <div class="p-2 my-4 bg-light rounded shadow-sm">
    <div class="d-flex">
      <div class="bulma">
        <div class="text-center">
          <img class="avatar-is-rounded" src="https://media.wired.com/photos/5b71cb6251297c21002b4554/master/pass/ElonMusk-974773054.jpg">
          <h3 class="section-title"><= user.fullname ></h3>
        </div>
      </div>
      <div class="section-call-for-actions m-auto">
        <div class="text-center px-3">
          <div class="btn-group">
            <a href="/models/design" class="btn-secondaryy">EDIT ACCOUNT</a>
          </div>
          <a href="/models/design" class="btn-primaryy">DELETE ACCOUNT</a>
          <p>Photo inside "edit account"</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="p-2 my-4 bg-light rounded shadow-sm">
    <h3>YOUR SALES</h3>
    <div class="d-flex justify-content-center align-items-center px-3">
      <div class="d-flex justify-content-start w-100 p-2">
        <p><%= link_to "Announce a New Product", new_product_path, class: "btn btn-secondaryy"%></p>
      </div>
      <div class="d-flex justify-content-center w-100 p-2">
        <p><%= link_to "List all your products", user_products_path, class: "btn btn-secondaryy"%></p>
      </div>
      <div class="d-flex justify-content-end w-100 p-2">
        <% if current_user.products.map { |product| product.orders }.flatten.size > 0 %>
          <p><%= link_to "List all sold products", user_sales_path, class: "btn btn-secondaryy"%></p>
        <% else %>
          <p><%= link_to "List all sold products", user_sales_path, class: "btn btn-secondaryy disabled"%></p>
        <% end %>
      </div>

    </div>
  </div>

  <div class="p-2 my-4 bg-light rounded shadow-sm">
    <h3>YOUR ORDERS</h3>
    <% if @user.orders.size > 0 %>
      <table class="table">
        <tr>
          <th>Order</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>

        <% @user.orders.each do |order| %>
          <tr>
            <td><%= link_to order.product.name, product_path(order.product), class: "btn btn-secondaryy" %></td>

            <td><%= "#{number_to_currency((order.price/100.0).round(2))}" %></td>
            <td>
              <%= link_to  order_path(order), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>


      </table>
    <% else %>
      <div class="text-center">
        <h5>You have no orders yet.</h5>
        <p><%= link_to "See the products", products_path %></p>
      </div>

    <% end %>
  </div>
</div>
</div>

