<div class="<%= params[:controller] == 'pages' && %w(home).include?(params[:action]) ? 'navbar navbar-expand-sm navbar-light navbar-lewagon' : 'navbar navbar-expand-sm navbar-light navbar-lewagon navbar-black' %>">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://i.imgur.com/b8pzICM.png" %>
  <% end %>

  <% if user_signed_in? %>
  <ul class="navbar-nav">
    <li class="nav-iteme">
      <%= link_to "PRODUCTS", products_path, class: "nav-link tesla-btn-nav" %>
    </li>
    <li class="nav-iteme">
      <%= link_to "PROFILE", user_path(current_user), class: "nav-link tesla-btn-nav" %>
    </li>
    <li class="nav-iteme">
      <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "nav-link tesla-btn-nav" %>
    </li>
  </ul>
</div>
  <% else %>
  <ul class="navbar-nav">
    <li class="nav-iteme">
      <%= link_to "SIGN IN", new_user_session_path, class: "nav-link tesla-btn-nav" %>
    </li>
  </ul>
<% end %>
</div>
