<div class="<%= params[:controller] == 'pages' && %w(home).include?(params[:action]) ? 'navbar navbar-expand-sm navbar-light navbar-lewagon' : 'navbar navbar-expand-sm navbar-light navbar-lewagon navbar-black' %>">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "http://www.fandmevents.com/event1/wp-content/uploads/2013/08/white-leaf-icon.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
  <ul class="navbar-nav">
    <li class="nav-iteme">
      <%= link_to "VIEW PRODUCTS", products_path, class: "nav-link" %>
    </li>
    <li class="nav-iteme">
      <%= link_to "VIEW MY ORDERS", user_path(current_user), class: "nav-link" %>
    </li>
    <li class="nav-iteme">
      <%= link_to "NEW PRODUCT", new_product_path, class: "nav-link" %>
    </li>
    <li class="nav-iteme">
      <%= link_to "EDIT PROFILE", edit_user_registration_path, class: "nav-link" %>
    </li>
    <li class="nav-iteme">
      <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  </ul>
</div>
  <% else %>
  <ul class="navbar-nav">
    <li class="nav-iteme">
      <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link" %>
    </li>
  </ul>
<% end %>
</div>
