<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://www.freeiconspng.com/uploads/leaf-icon-25.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "SELL", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "BUY", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "RENT", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>


  <div class="dropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "SING US", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
