<body class="background-semi-truck hero is-fullheight">
<div class="hero-body is-paddingless is-marginless">
  <div class="is-paddingless column is-5 is-offset-6">
    <div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>

      <div class="has-text-centered signin">
        <span>Don't have an account?</span>
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>

      <div class="form-body">
        <div class="has-text-centered">
            <h2 class="section-title">Sign In</h2>
            <hr class="form-hr">
            <!-- <div class="control first-name">
              <h3>Insert FirstName Input here</h3>
            </div>
            <div class="control last-name">
              <h3>Insert LastName Input here</h3>
            </div> -->
            <div class="control email">
              <%= f.input :email, class: "form-control", required: false, autofocus: true, input_html: { autocomplete: "email" } %>
            </div>
            <div class="control password">
              <%= f.input :password, class: "form-control", required: false, input_html: { autocomplete: "current-password" } %>
            </div>

            <!-- <div class="control password_confirm">
            </div> -->

            <div class="has-text-centered">
               <%= f.button :submit, "Sign In", class: "button create-button" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
