<div class="container">
  <%= simple_form_for @product, wrapper_mappings: { check_boxes: :vertical_collection, radio_buttons: :vertical_collection, file: :custom_file, boolean: :custom_boolean_switch } do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :category, as: :radio_buttons, collection: ["Sell a Car", "Charging Station"]  %>
  <%= f.input :price %>

  <%= f.input :description %>

  <%= f.input :photo, label_html: { class: 'btn disabled' } %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>

</div>
