<div class="container">
  <div class="searchbox">
    <div class="row">
      <%= form_tag products_path, method: :get, class: "searchbar w-git chec100" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search"
        %>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @products.each do |product| %>
        <div class="col-12 col-sm-4 w-100">
        <%= link_to product do %>

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path product.photo %>'); margin-bottom:30px">
            <div class="card-category">$ <%= product.price %></div>
            <div class="card-description">
              <h2><%= product.name %></h2>
            </div>
            <img class="card-user" src="https://i.imgur.com/b8pzICM.png">
          </div>
        <% end %>
       </div>
      <% end %>
  </div>
</div>
