<div class="container">
  <div class="searchbox">
    <div class="row">
      <%= form_tag products_path, method: :get, class: "searchbar w-100" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search"
        %>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
      <% @products.each do |product| %>
        <div class="col-12 col-sm-4 w-100">
        <%= link_to product do %>
          <% photo = product.photo.url ? product.photo.url : "https://img.ibxk.com.br///2019/02/01/01171157507271-t1200x480.jpg" %>

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo %>'); margin-bottom:30px">

            <div class="card-category"><%= number_to_currency((product.price).round(2)) %></div>
            <div class="card-description">
              <h2><%= product.name %></h2>
            </div>
            <img class="card-user" src="https://i.imgur.com/b8pzICM.png">
          </div>
        <% end %>
       </div>
      <% end %>
  </div>
</div>
</div>
<div class="row">
<div class="container">

    <div
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

</div>
