<div class="container">
  <div class="searchbox">
      <%= form_tag products_path, method: :get, class: "searchbar" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a car"
        %>
      <% end %>
  </div>
  <% @products.each do |product| %>
  <% next if product.sold? %>
  <div class="card-product mt-3">
    <%= link_to product_path(product) do %>
    <% photo = product.photo.url ? product.photo.url : "https://img.ibxk.com.br///2019/02/01/01171157507271-t1200x480.jpg" %>
    <%= image_tag( photo ,style: "object-fit: center", class: "product-img") %>
    <div class="product-boy">
      <div class="product-title px-3">
        <h6><%= product.name %></h6>
      </div>
      <div class="product-price text-center px-3">
        <h6><%= number_to_currency((product.price/100.0).round(2)) %></h6>
      </div>
      <div class="product-price text-center px-3">
        <h6><%= product.description %></h6>
      </div>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
