<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <% next if product.user == current_user %>
        <div class="col-12 col-md-4 col-lg-3 p-1">
          <div class="card p-2">
            <%= link_to product_path(product) do %>
            <% photo = product.photo.url ? product.photo.url : "https://img.ibxk.com.br///2019/02/01/01171157507271-t1200x480.jpg" %>
              <%= image_tag( photo ,style: "object-fit: cover; height: 250px;", class: "card-img") %>
              <div class="card-body">
                <div class="card-title">
                  <%= product.name %>
                </div>
                <div class="card-text">
                  <%= product.user.email %>
                </div>
                <div class="card-text">
                  <p>R$
                    <%= product.price %>,00</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
