<div class="text-center">
  <div class="row z-depth-5">
    <div class="col">
      <% if @product.sold? %>
      <h2 style="color: red;">SOLD</h2>
      <% end %>
        <div class="row p-4 fix_to_top">
          <%= cl_image_tag (@product.photo), class: "w-100 intro_car_image " %>

      </div>
    </div>
  </div>


  <div class="details card text-center">
    <div class="card-header justify-content-center">
      <h5 class="card-title text-center"><%= @product.name %></h5>
    </div>
    <div class="card-body text-center">
      <div class="row d-flex z-depth-5">
        <div class="col-md-8">

          <div class="jumbotron bg-dark text-left">
            <p class="lead text-body"><%= simple_format(@product.description) %></p>
          </div>
        </div>
        <div class="col-lg-4 justify-content ">
        <div class="card text-center vl" style="width: 18rem;">
          <div class="card-body text-body  ">
            <h5 class="card-title text-black">
              <p>
              <i class="fas fa-envelope"><%= " #{@product.user.email}" %></i>
              </p></h5>
                <p class="card-text "></p> Price : <%= number_to_currency((@product.price).round(2)) %></p>
                <div class="card-footer justify-content">

                  <% if (user_signed_in? && (current_user != @product.user)) && (!@product.sold?) %>
                  <%= link_to "BUY NOW", product_orders_path(@product), method: :post, class: "btn btn-success w-100" %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
        <div class="card-footer text-muted">
          <div class="">
            2 days ago
            <% if current_user == @product.user %>
            <div class="commands">
            <%= link_to "Edit", edit_product_path %>
            <%= link_to "DELETE", product_path, method: :delete %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- </section> -->
