<div class="container_new">
  <div class="parallax" style="background-image: url('https://tdrpmimages.azureedge.net/private/2019/3/27/d06a5ec8-abb4-4514-a13d-38b94f049904.jpeg')">
    <!-- Inserir Embeded Ruby quanto houver @product.img ou algo assim -->
  </div>
</div>
  <div class="container">

  <h3><%= @product.name %></h3>
  <div class="d-flex justify-content-between">
    <div class="commands">
      <%= link_to "Edit", edit_product_path %>
      <%= link_to "DELETE", product_path, method: :delete %>
    </div>
    <p><%= @product.description %></p>
    <div class="details">
      <p>
        <i class="fas fa-user"></i>
        NOME QUANDO TIVER
      </p>

      <p>
        <i class="fas fa-envelope"><%= " #{@product.user.email}" %></i>
      </p>

      <p class="price"><%= @product.price %></p>

      <%= link_to "BUY NOW", "#/", class: "btn btn-success w-100" %>
    </div>
  </div>
</div>
