<div class="container_new">
  <div class="parallax" style="background-image: url('<%= @product.photo %>');">
    <% if @product.sold? %>
      <h2 style="color: red;">SOLD</h2>
    <% end %>
    <!-- Inserir Embeded Ruby quanto houver @product.img ou algo assim -->
  </div>
</div>
  <div class="container">

  <h3><%= @product.name %></h3>
  <div class="d-flex justify-content-between">

    <% if current_user == @product.user %>
      <div class="commands">
        <%= link_to "Edit", edit_product_path %>
        <%= link_to "DELETE", product_path, method: :delete %>
      </div>
    <% end %>

    <p><%= @product.description %></p>
    <div class="details">
      <p>
        <i class="fas fa-user"></i>
        NOME QUANDO TIVER
      </p>

      <p>
        <i class="fas fa-envelope"><%= " #{@product.user.email}" %></i>
      </p>

      <p class="price"><%= "R#{number_to_currency((@product.price/100.0).round(2))}" %></p>

      <% if (user_signed_in? && (current_user != @product.user)) && (!@product.sold?) %>
        <%= link_to "BUY NOW", product_orders_path(@product), method: :post, class: "btn btn-success w-100" %>
      <% end %>
    </div>
  </div>
</div>
